.about-section {
    margin: 0;
}

.members-section {
    margin-top: 1rem;
}

p.member {
    background-color: var(--background-color);
    border: solid 2px;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1rem;
}

.group-title, .about-header {
    display: flex;
    h1 {
        margin: 0;
    }
}

.edit-button {
    margin: 0;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
}

.edit-title {
    display: flex;
    column-gap: 2rem;
}

.about-edit-label {
    font-weight: bolder;
}